.button.button-danger {
  color            : #FFFFFF;
  background-color : #AF2D2B;
  border-color     : #A62D2B;
  box-shadow       : 0 1px 0 #A72D2B;
  vertical-align   : top;
  &:hover, &:focus, &:active, &.active {
    color      : #FFFFFF;
    background : #C9302C;
    }
  }

[data-depends] {
  display : none;
  }

.meta-image-field-wrapper {
  display : table;
  .button {
    margin  : 5px 0;
    display : block;
    }
  .image-preview {
    display       : table-cell;
    width         : 60px;
    padding-right : 10px;
    }
  .button-wrapper {
    display        : table-cell;
    vertical-align : top;
    }
  }

.gwp-rate-stars {
  display  : inline-block;
  color    : #FFB900;
  position : relative;
  top      : 3px;

  svg, svg a {
    fill   : #FFB900;
    stroke : #FFB900;
    cursor : pointer;
    &:hover {
      fill : #FFB900;
      ~ svg, ~ svg a {
        fill : none;
        }
      }
    }
  }

#wvs-meta-preview {
  width : 30px;
  }

.wvs-preview {
  width  : 30px;
  height : 30px;
  border : #000000 1px solid;
  }