
.accordion-section-content li:nth-child(2).customize-control-wvs-heading {
  .wvs-customize-heading-control-title {
    margin-top    : -15px;
    margin-bottom : 0;
    }
  }

.wvs-customize-heading-control-title {
  background-color : #191E23;
  padding          : 10px 15px;
  color            : #FFFFFF;
  margin           : 5px -15px;
  font-size        : 1rem;
  font-weight      : 200;
  display          : block;
  overflow         : hidden;
  white-space      : nowrap;
  text-overflow    : ellipsis;
  }
