.variable-items-wrapper {
  display   : flex;
  flex-wrap : wrap;
  margin    : 0;

  .variable-item {
    box-sizing      : border-box;
    list-style      : none;
    cursor          : pointer;
    display         : flex;
    justify-content : center;
    align-items     : center;

    &.color-variable-item {
      padding : 2px;
      margin  : 2px;
      width   : 30px;
      height  : 30px;
      border  : 1px solid rgba(0, 0, 0, 0.2);

      span {
        width    : 20px;
        height   : 20px;
        position : relative;

        &::after {
          position      : absolute;
          content       : "";
          width         : 20px;
          height        : 20px;
          border-radius : 100%;
          box-shadow    : inset 0 0 1px 0 rgba(0, 0, 0, 0.5);
          }
        }
      }

    &.button-variable-item {
      padding : 2px;
      margin  : 2px;
      width   : 36px;
      height  : 36px;
      border  : 1px solid rgba(0, 0, 0, 0.2);

      span {
        font-size   : 1rem;
        line-height : 1;
        }
      &.selected,
      &.selected:hover {
        border     : 1px solid #000000;
        background : #000000;
        color      : #FFFFFF;
        }
      }

    &.image-variable-item {
      padding : 2px;
      margin  : 2px;
      width   : 40px;
      height  : 40px;
      border  : 1px solid rgba(0, 0, 0, 0.2);
      }

    &:last-of-type {
      margin-right : 0;
      }
    &:hover {
      border : 1px solid #000000;
      }

    &.color-variable-item,
    &.image-variable-item {
      &.selected,
      &.selected:hover {
        border : 1px solid #000000;
        }
      }

    &.selected,
    &.selected:hover {
      border : 1px solid #000000;
      }
    &.disabled,
    &.disabled:hover {
      cursor  : not-allowed;
      opacity : 0.5;
      }
    }

  //----------------------
  // tool tips
  //----------------------
  [data-tooltip]:before {
    background : rgba(0, 0, 0, .99) !important;
    }

  [data-tooltip]:after {
    border-top-color : rgba(0, 0, 0, .99) !important;
    }
  }

.woo-variation-swatches-style {
  &-rounded {
    .variable-item {
      border-radius : 100%;
      span,
      img {
        border-radius : 100%;
        }
      }
    }
  &-squared {
    .variable-item {
      border-radius : 0;
      &.button-variable-item {
        width : auto;
        span {
          width   : auto;
          padding : 0 1rem;
          }
        }
      &.color-variable-item span {
        &::after {
          border-radius : 0;
          }
        }
      }
    }
  }