.variable-items-wrapper {
  [data-wvstooltip] {
    position : relative;
    cursor   : pointer;
    }

  [data-wvstooltip]:before,
  [data-wvstooltip]:after {
    visibility     : hidden;
    opacity        : 0;
    pointer-events : none;
    box-sizing     : inherit;
    position       : absolute;
    bottom         : 130%;
    left           : 50%;
    z-index        : 9;
    transform      : translateZ(0);
    }

  [data-wvstooltip]:before {
    margin-bottom    : 5px;
    margin-left      : -50px;
    padding          : 7px;
    width            : 100px;
    border-radius    : 3px;
    background-color : #000000;
    background-color : hsla(0, 0%, 20%, 0.9);
    color            : #FFFFFF;
    content          : attr(data-wvstooltip);
    text-align       : center;
    font-size        : 14px;
    line-height      : 1.2;
    }

  [data-wvstooltip]:after {
    margin-left  : -5px;
    width        : 0;
    border-top   : 5px solid #000000;
    border-top   : 5px solid hsla(0, 0%, 20%, 0.9);
    border-right : 5px solid transparent;
    border-left  : 5px solid transparent;
    content      : " ";
    font-size    : 0;
    line-height  : 0;
    }

  [data-wvstooltip]:hover:before,
  [data-wvstooltip]:hover:after {
    visibility : visible;
    opacity    : 1;
    }
  }